@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700;800;900&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.NavMain {
  background-color: rgb(41, 211, 118);
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  padding: 0 2rem;
}
.NavList {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
  text-decoration: none;
}
.NavList li:active {
  background-color: rgb(241, 250, 245);
}

.NavList li:hover {
  background-color: rgb(3, 190, 88);
}

.Link {
  font-family: 'Prompt', sans-serif;
  font-weight: 300;
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  color: rgb(119, 27, 194);
}
.Link:hover {
  color: rgb(119, 27, 194);
}

.Logo_title {
  font-family: 'Prompt', sans-serif;
  font-weight: 600;
  text-decoration: none;

  font-size: 2.5rem;
  color: rgb(119, 27, 194);
}
.Logo_title:hover {
  color: rgb(119, 27, 194);
}
.Cart-shopping-list {
  display: flex;
}
.Cart-notification {
  color: white;
  background-color: rgb(119, 27, 194);

  width: 1rem;
  height: 1rem;
  font-size: 0.6rem;
  border-radius: 50%;
}
.Shopping-cart {
  width: 1.5rem;
  height: 1.5rem;
}
@media (max-width: 700px) {
  .NavMain {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .NavList {
    gap: auto;
  }
}
@media (max-width: 550px) {
  .NavMain {
    padding: 0;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
  .NavList {
    padding: 2%;
    margin: 0;
    width: auto;
    flex-direction: column;
    gap: 0;
  }
  .Link {
    padding: 0;
  }
}
