@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  padding: 0;
  text-align: center;
}
.Content-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}
.Extra-information {
  color: grey;
}
.Content-second {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  margin: 1rem;
  padding: 2rem;
}
p {
  max-width: 60rem;
  margin: 1rem;
  padding: 0.5rem;
  font-family: 'Prompt', sans-serif;
}
h1 {
  margin: 1.5rem;
  padding: 1rem;
  font-family: 'Prompt', sans-serif;
  font-weight: 600;
}

.Ingredients-main {
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.Ingredients-header {
  padding: 1rem 1rem;
  text-align: left;
}
.Ingredients-cell {
  padding: 0.2rem;
  text-align: left;
}
.Ingredients-name {
  text-align: left;
  padding-left: 1rem;
}
.Recipe-popular {
  margin: 0.2rem;
  background-color: rgba(255, 182, 139, 0.377);
  font-size: 0.8rem;
  padding: 0.3rem;
  border-radius: 2rem;
  font-family: 'Prompt';
  font-weight: 200;
}
.Recipe-new {
  content: none;
  margin: 0.4rem;
  background-color: rgba(125, 230, 139, 0.452);
  font-size: 0.8rem;
  padding: 0.3rem;
  border-radius: 2rem;
  font-family: 'Prompt';
  font-weight: 200;
}
.Recipe-tags {
  margin: 0.5rem;
}
.Recipe-description {
  margin: 2rem;
}
.Button-navigation {
  padding: 0.5rem;
  margin: 1.5rem;
  width: fit-content;
  background-color: rgb(41, 211, 118);
  border: none;
  border-radius: 3px;
  font-family: 'Prompt';
  font-weight: 500;
  cursor: pointer;
}
.Button-navigation:hover {
  background-color: rgba(41, 211, 117, 0.418);
}

.Button-action {
  padding: 0.5rem;
  margin: 2.5rem;
  background-color: rgb(41, 211, 118);
  border: none;
  border-radius: 3px;
  font-family: 'Prompt';
  font-weight: 500;
  cursor: pointer;
}
.Button-action:hover {
  background-color: rgba(41, 211, 117, 0.418);
}
.User-input {
  padding: 0;
  margin: 1rem;
}
.Button-recipe-navigation {
  text-align: center;
  padding: 1rem;
  margin: 1.5rem;
  width: 20rem;
  background-color: rgb(41, 211, 118);
  border: none;
  border-radius: 3px;
  font-family: 'Prompt', sans-serif;
  font-weight: 300;
  cursor: pointer;
}
.Button-recipe-navigation:hover {
  background-color: rgba(41, 211, 117, 0.418);
  color: rgb(51, 5, 126);
}
.Button-remove {
  width: 2rem;
  border: none;
  border-radius: 20px;
  margin-bottom: 0.2rem;
  margin-left: 2rem;
  background-color: rgba(243, 44, 44, 0.514);
}
.Icon-print {
  cursor: pointer;
  margin: 0.5rem 0rem;
}
.Icon-print:hover {
  color: grey;
}
img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 5%;
}
.Picture-link {
  position: relative;
  margin: 1rem;
}
.Picture-link:hover {
  box-shadow: -1px 1px 5px rgb(167, 167, 167);
  border-radius: 10%;
  top: -5px;
}
.Picture-link-text {
  font-family: 'Prompt', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;

  position: absolute;
  right: 10%;
  left: 10%;
  bottom: 10%;
  cursor: pointer;
  background-color: rgb(255, 255, 255, 0.4);
  border-radius: 5px;
}

/* Shoppin List CSS*/

.Shopping-unit {
  padding: 0 1rem;
  text-align: left;
}
.Icon-increase {
  margin: 0.5rem;
  color: rgba(0, 128, 0, 0.5);
}
.Icon-increase:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: green;
  color: white;
}
.Icon-decrease {
  margin: 0.5rem;
  color: rgba(255, 0, 0, 0.5);
}
.Icon-decrease:hover {
  cursor: pointer;
  color: white;
  border-radius: 50%;
  background-color: red;
}
.Icon-remove {
  margin: 0.4rem 2rem;
  color: lightgrey;
}
.Icon-remove:hover {
  color: rgb(73, 73, 73);
  cursor: pointer;
  border-radius: 15%;
}
input,
textarea {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 100%;
}
td {
  padding: 0.2rem;
}
.Content-input-container {
  margin: 0;
  padding: 5%;
  display: flex;
  flex-direction: column;
}
.row {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
}
.Button-select-option {
  width: max-content;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0.2rem;
}
.Button-choice-delete {
  background-color: rgba(255, 0, 0, 0.39);
  border: none;
  border-radius: 5px;
  padding: 0.2rem;
  margin: 0.1rem;
}
.Button-choice-add {
  background-color: rgba(21, 255, 0, 0.219);
  border: none;
  border-radius: 5px;
  padding: 0.2rem;
  margin: 0.1rem;
}
.Tag {
  margin: 0;
}
.table-ingredients {
  margin: 1rem;
}

@media (max-width: 700px) {
}
@media (max-width: 550px) {
  .Content-input-container {
    margin: 0;
    padding: 0;
  }
  .Button-recipe-navigation {
    width: 80%;
    margin: 1rem 0rem;
    padding: 0.5rem;
  }
  .Content-second {
    margin: 0;
    padding: 0;
  }
  .Content-main {
    margin: 0;
  }
  p {
    margin: 0;
    padding: 8% 2%;
  }
  h1 {
    margin: 0;
  }
  img {
    max-width: 200px;
    max-height: 200px;
  }
  .Picture-link {
    margin: 2%;
    padding: 0;
  }
  .Picture-link-text {
    position: absolute;
    font-size: 1rem;
  }
  .Icon-increase {
    margin: 0;
    padding: 2%;
  }
  .Icon-decrease {
    margin: 0;
    padding: 2%;
  }
  .Ingredients-cell {
    margin: 0;
    padding: auto;
  }
  .Shopping-unit {
    display: none;
  }
  .Icon-remove {
    margin: 5%;
    padding: 0;
  }
  .Button-navigation {
    margin: 3%;
  }
}
