* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.Search-box {
  width: 14rem;
  max-height: 200px;
  position: absolute;
  z-index: 12;
  border-radius: 5px;
}

.Button-search {
  border-radius: 5px;
  background-color: rgba(41, 211, 117, 0.315);
  border-width: 0;
  font-size: 14px;
  width: 100%;
  margin: 0.2rem;
  padding: 0.2rem;
}
.Button-search:hover {
  border: 1px solid black;
  background-color: rgba(41, 211, 117, 0.767);
}
